* {
    margin: 0;
    padding: 0;
    border: 0;
    list-style: none;
}
div, img {
	position: absolute;
}
body {	
	opacity: 1;
	font-family: STHeitiSC-Light;
	text-transform: capitalize;
	color: #fff;
}
#background {
	position: absolute;
	
	width: 320px;
	height: 568px;
    z-index: 1;
}
#main-wrapper {
    position: absolute;
    
	width: 320px;
	height: 320px;
    
	top: 60px;
    left: 0px;
    
	-webkit-transition: all 2s ease-in-out;
    z-index: 2;
}
#circles {
    position: absolute;
    z-index: 3;
}
#circles img {
    position: absolute;
    
	width: 320px;
	height: 320px;
	
	-webkit-transition: all 2s ease-in-out;
	-webkit-transition-delay: 0.5s;	
    
    z-index: 4;
}
#center {
    position: absolute;
    
    z-index: 100;
}
#am_pm {
	margin-top: 100px;
	width: 320px;
	font-size: 65px;
	text-align: center;
}
#date {
	margin-top: 157px;
	margin-left: 82px;
	border-top: 1px solid;
	padding-top: 2px;
	width: 176px;
	font-size: 14px;
	text-align: center;
	letter-spacing: -1px;
	font-weight: bold;
	color: #f90;
}
#day {
	margin-top: 171px;
	width: 320px;
	font-size: 18px;
	text-align: center;	 
	color: #f90;
}